/*Style Sheet*/
body {
  background-color: #a4e9ba;
  z-index: 0;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

#title-title {
  font-weight: lighter;
}

#container {
  display: flex;
  flex-direction: column;
}
.navBar {
  display: flex;
  width: 100%;
  background-color: mintcream;
}

.navBar > a {
  padding: 8px;
  color: black;
  text-decoration: none;
  flex: 6;
  text-align: center;
}

.navBar > a:hover {
  background-color: lightblue;
}

#home {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 25%;
  padding: 5%;
}

#all-snacks-btn {
  text-decoration: none;
}

.homeButtons {
  display: flex;
  flex-direction: column;
}

#mainButtons {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#mainButtons > * {
  margin: 10px;
}

#mainButtons button {
  font-size: 1.25rem;
  padding: 5px;
  border-radius: 5px;
}

#mainButtons button:hover {
  color: darkslateblue;
  background-color: white;
}

#homeLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#homeLinks > * {
  margin: 5px;
}

#homeLinks > a:hover {
  color: palevioletred;
  background-color: lavender;
}

#slider {
  fill: black;
  stroke: none;
}

#products-title {
  margin: 5px;
  margin-left: 1rem;
}

.allProductImage {
  width: 250px;
  margin: 0.2rem;
}

#product-link {
  color: black;
  margin-top: 0.2rem;
  text-decoration: underline;
  font-weight: lighter;
}
.product > a {
  text-decoration: none;
}

#allProducts,
#accountOrders {
  display: flex;
  flex-wrap: wrap;
}

.products-grid {
  margin: 1rem;
}

.card {
  margin: 1rem;
}

.product {
  margin: 1rem;
  width: calc(100% / 3 - 2rem - 12px);
  min-width: 300px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 0.3em;
  filter: drop-shadow(5px 4px 4px rgb(166, 221, 166));
  background-color: #adf1c2;
}
#item-category {
  margin-left: 1rem;
}
#price {
  margin-left: 1rem;
}
#quick-add {
  font-family: 'Quicksand', sans-serif;
  margin: 0.2rem;
}

#add-to-cart-btn {
  margin-top: 20px;
  font-family: 'Quicksand', sans-serif;
}

#select-manage-products {
  min-width: 80px;
}

#manage-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-manage {
  width: calc(100% / 4);
}

#single-contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#singleProduct {
  margin: 2rem;
  flex: 1;
}
#singleProduct > img {
  width: 400px;
}

.newReview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#select-rating {
  min-width: 50px;
}

#single-product-img {
  max-width: 500px;
}
#map {
  height: 300px;
  width: 200px;
}

#user {
  border-color: black;
  border: 0.1em;
  border-style: solid;
  margin: 0.5em;
  padding: 0.2em;
  border-radius: 0.4em;
  width: 33%;
}

#create-product {
  border: 0.1em;
  border-style: solid;
  margin: 0.5em;
  padding: 0.2em;
  border-radius: 0.4em;
  width: 33%;
}
#manage-users {
  padding: 1rem;
}

#edit-user {
  margin: 2em;
}
#edit-product {
  margin-left: 1em;
}
#edit-prod-btn {
  margin-top: 0.5em;
}

#edit-product > input {
  min-width: 100px;
}

.product-manage {
  border: 0.1em;
  border-style: solid;
  margin: 0.5em;
  padding: 0.2em;
  border-radius: 0.4em;
  width: 33%;
}

#manage-orders {
  padding: 0.5rem;
}

.order-manage {
  border: 0.1em;
  border-style: solid;
  margin: 0.5em;
  padding: 0.2em;
  border-radius: 0.4em;
  width: 33%;
}

#edit-order {
  padding: 0.5rem;
}

#edit-order > form {
  border: 0.1em;
  border-style: solid;
  margin: 0.5em;
  padding: 0.2em;
  border-radius: 0.4em;
  width: 33%;
}
#order-details {
  border: 0.1em;
  border-style: solid;
  margin: 0.5em;
  padding: 0.2em;
  border-radius: 0.4em;
  width: 33%;
}

#logged {
  color: black;
  margin-top: 0.6rem;
  word-wrap: break-word;
}

#login-contain {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.3rem;
  filter: drop-shadow(5px 4px 4px rgb(166, 214, 166));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #b5f3ca;
  width: 33vw;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#login-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#login-button {
  flex: 1;
  left: 54;
  margin-top: 1rem;
  font-family: 'Quicksand', sans-serif;
  margin: 0.2rem;
}

#create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#create-form > * {
  margin: 2px;
}

#create-button {
  flex: 1;
}

.products-forms {
  display: flex;
}
#create-product-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  width: 50%;
  align-self: center;
}
.allProductImage {
  width: 300px;
  height: 330px;
  /* Or You can try 250/280 */
}

.singlePurchase {
  margin: 1rem;
  width: calc(100% / 3 - 2rem - 12px);
  min-width: 300px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 0.3em;
  filter: drop-shadow(5px 4px 4px rgb(115, 153, 115));
  background-color: darkseagreen;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  border-color: inherit;
}

.account {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#manage-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}
